.page-title h1,
.page-title h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.home-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.primary-container {
  margin: 0 auto;
  padding-top: 300px;
  min-width: fit-content;
  text-align: center;
}

.primary-container h1 {
  font-size: 4.25rem;
  margin-bottom: 0.725rem;
}

.secondary-container {
  margin-top: 2rem;
  margin-left: 3rem;
}
